:root {
  --backround-color: #414141;
  --text-color: #fff8f8;
  --item-color: #e40808;
  --hover-color: #da5417;
  --navbar-height: 60px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Diablo', sans-serif;
  color: var(--text-color);
}

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  background-image: url(./wallpaper1.png);
  background-repeat: repeat;
  background-size: cover;
}

nav {
  height: var(--navbar-height);
  background-color: var(--backround-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(29, 27, 27);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo-conti img {
  margin-left: 20px;
 
}

.logo-conti a {
  font-family: 'Diablo', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: var(--item-color);
  text-decoration: none;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none; 
}

nav li {
  height: 100%;
  width: 150px;
  text-align: center;
  position: relative;
}

nav li:hover {
  /* background-color: var(--item-color); */
  transition: 0.4s;
  display: block;
  
  box-shadow:  0.3em 0.3em 0.9em black;
  border: 0.1em groove black;
}

nav ul a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.dropdown {
  height: min-content;
  width: 170px;
  background-color: var(--backround-color);
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 60px;
  /* border-radius: 0 0 10px 10px; */
  box-shadow: 3px 3px 3px rgb(29, 27, 27);
}

.dropdown li {
  height: 50px;
  width: 100%;
}

.dropdown li a {
  justify-content: flex-start;
  padding-left: 15px;
  width: calc(100% - 15px);
}

nav li:hover .dropdown {
  display: flex;
}

#home_checkbox,
#products_checkbox,
#login_checkbox {
  display: none;
}

.expandable-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
 
}

.main-container img {
    width: 100%;
    height: auto;
    display: block;
    border: #e40808 5px groove;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
  
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 300px 300px 300px 300px;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding: 5px 10px;
  margin-top: 80px;
  background-color: #7470701e;
  backdrop-filter: blur(1px);
  border-radius: 20px;
  border-top: 1px groove black;
  border-left:  1px groove black;
  box-shadow: 3px 3px 3px black; 
}

h2 {
  margin: 15px;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

.barbar {
  margin: 1em 3em ;
  display: flex;
  text-align: left;
  width: 90%;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 1 / span 2;
}

.barbar1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.sorceress {
  margin: 1em 3em ;
  display: flex;
  text-align: left;
  width: 90%;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 1 / span 2; 
}

.sorceress1 {
  display: flex;
  flex-direction: column;
}

.druid {
  margin: 1em 3em ;
  display: flex;
  text-align: left;
  width: 80%;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 2 / span 2;
}

.druid1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.necromancer {
  margin: 1em 3em ;
  display: flex;
  text-align: left;
  width: 80%;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 1 / span 2;
}

.necromancer1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.rogue {
  margin: 1em 3em ;
  display: flex;
  text-align: left;
  width: 80%;
  height: 300px;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 1 / span 2;
}

.rogue1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* .three-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 */
