:root {
  --backround-color: #414141;
  --text-color: #fff8f8;
  --item-color: #e40808;
  --hover-color: #da5417;
  --navbar-height: 60px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: 'Amatic SC', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(./d4jpeg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: var(--navbar-height);
  background-color: var(--backround-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(29, 27, 27);
  position: fixed;
  width: 100%;
}

.logo-conti img {
  margin-left: 20px;
 
  

}

.logo-conti a {
  font-family: 'Amatic SC', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: var(--item-color);
  text-decoration: none;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  
}

nav li {
  height: 100%;
  width: 150px;
  text-align: center;
  position: relative;
}

nav li:hover {
  background-color: var(--item-color);
  transition: 0.4s;
  display: block;
}

nav ul a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.dropdown {
  height: min-content;
  width: 150px;
  background-color: var(--backround-color);
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 60px;
  box-shadow: 3px 3px 3px rgb(29, 27, 27);
  z-index: 2;
  
}

.dropdown li {
  height: 50px;
  width: 100%;
}

.dropdown li a {
  justify-content: flex-start;
  padding-left: 15px;
  width: calc(100% - 15px);
}

nav li:hover .dropdown {
  display: flex;
}



#home_checkbox,
#products_checkbox,
#login_checkbox {
  display: none;
}

.expandable-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.main-div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  
  gap: 10px;
  height: 90vh;
  width: 60%;
  margin-top: 80px;
  background-color: #74707048;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  z-index: 0;
  border-top: 1px groove black;
  border-left:  1px groove black;
  box-shadow: 3px 3px 3px black;
  
}

h2 {
  margin: 15px;
  font-size: 32px;
  font-weight: bold;
}

.barbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1 / span 2;
  /* align-items: left; */
  text-align: center;
}

.barbar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
  border: 2px var(--text-color) groove;
}

.sorceress {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 3 / span 5;
  align-items: left;
  text-align: center;
  
}

.sorceress img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border: 2px var(--text-color) groove;
}

.druid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  
}

.druid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
  border: 2px var(--text-color) groove;
}

.necromancer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  
}

.necromancer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
  border: 2px var(--text-color) groove;
}

.rogue {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  
}

.rogue img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
  border: 2px var(--text-color) groove;
}